* {
  font-family: Arial, Helvetica, sans-serif;
  color: #464646;
}

body {
  display: grid;
  justify-content: center;
  align-items: flex-start;
}

.contenedor {
  box-shadow: 0px 10px 25px #a9a9a9;
}

h3 {
  font-style: normal;
  font-weight: 100;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

::placeholder {
  font-style: italic;
  font-size: medium;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 10rem;
  line-height: 2;
  border-bottom: 1px solid #a9a9a9;
}

button.clear {
  text-align: center;
  font-size: medium;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
} 

input {
  padding-inline: 10px;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

.todo-lists {
  display: flex;
  flex-direction: column;
}

.lists {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.list {
  display: flex;
  justify-content: space-between;
  border-block: 1px solid #a9a9a9;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-left: 3%;
}

.clear {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #ece3e3;
  padding: 20px;
  width: 100%;
}

.description {
  padding: 5px 5px;
}

.inactive {
  display: none;
}

.editButton {
  display: flex;
}

.editInput {
  font-size: large;
 
}

.completed {
    text-decoration: line-through;
}
