* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #473c3c;
}

body {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  background-image: url(./background.jpg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 15%;
  gap: 1rem;
  background-color: #fff;
}

.contenedor {
  box-shadow: 0 10px 25px #a9a9a9;
  background-color: #fff;
  border-radius: 15px;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: 600;
  margin: 5% 0;
  width: 120px;
  font-size: 1.2rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

::placeholder {
  font-style: italic;
  font-size: medium;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  line-height: 2;
  border-bottom: 1px solid #aa9b9b;
  padding: 0 10px;
  border-radius: 15px;
}

button.clear {
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

input {
  padding-inline: 1rem;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

.todo-lists {
  display: flex;
  flex-direction: column;
}

.lists {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.list {
  display: flex;
  justify-content: space-between;
  border-block: 1px solid #aaa1a1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 3%;
}

.clear {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #ece3e3;
  padding: 20px;
  width: 100%;
}

button.clear:hover {
  background-color: #532a2a;
  color: #fff;
}

.description {
  padding: 5px 5px;
}

.inactive {
  display: none;
}

.editButton {
  display: flex;
}

.editInput {
  font-size: large;
}

.completed {
  text-decoration: line-through;
  color: rgb(189, 230, 231);
}
